body {
    background-color: navy;
    color: rgba(224, 205, 157, 0.892);  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: left; 

}
nav {
    background-color: rgba(224, 205, 157, 0.892); 
    text-align: center;
    padding: 10px;
}

nav a {
    color: navy;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 20px;
}
    img {
        width: 100%;
        height: auto;
        display: block;
    }


/* Heading */
h1 {
    color: rgba(224, 205, 157, 0.892);   
    margin-top: 20px;
}

figure {
    padding-left: 40px;
    display: inline-block;
    margin: 20px;
    text-align: center;
    vertical-align: top;
}

figure img {
    width: 200px; 
    height: auto; 
    margin-bottom: 10px;

}

figcaption,figure p {
    margin: 5px 0; 
    font-size: 16px; 
    color: rgba(224, 205, 157, 0.892);
}

footer {
    background-color: rgba(224, 205, 157, 0.892);  
    text-align: center; 
    padding: 10px; 
    color: navy; 
    margin-top: 20px;
}

footer a {
    color: navy; 
    text-decoration: none; 
    margin: 0 10px; 
    font-weight: bold; 
    font-size: 20px;
}
