body {
    background-color: navy;
    color: rgb(242, 197, 85)

}

h1 {
    text-align: center;
}


nav {
    background-color: rgb(242, 197, 85); 
    text-align: center; 
    padding: 10px; 

}

nav a {
    color: navy; 
    text-decoration: none; 
    margin: 0 10px; 
    font-weight: bold; 
    font-size: 20px;
}
table {
    width: 80%; 
    margin: 20px auto; 
    border-collapse: collapse; 
    text-align: center; 
}

table th, table td {
    border: 3px solid rgb(242, 197, 85); 
    padding: 10px; 
    color: navy; 
}

table th {
    background-color: rgb(242, 197, 85); 
    font-weight: bold; 
}

table td {
    background-color: white; 
}

footer {
    background-color: rgb(242, 197, 85); 
    text-align: center; 
    padding: 10px; 
    color: navy; 
    margin-top: 20px;
}

footer a {
    color: navy; 
    text-decoration: none; 
    margin: 0 10px; 
    font-weight: bold; 
    font-size: 20px;
}
