body {
    background-color: navy;
    color:   rgba(224, 205, 157, 0.892);  

}

h1 {
    text-align: center;
    color:rgba(224, 205, 157, 0.892);  
}


nav {
    background-color: rgba(224, 205, 157, 0.892);
    text-align: center;
    padding: 10px;
}

nav a {
    color: navy;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 20px;
}
table {
    width: 80%; 
    margin: 20px auto; 
    border-collapse: collapse; 
    text-align: center; 
}

table th, table td {
    border: 3px solid  rgba(224, 205, 157, 0.892);  
    padding: 10px; 
    color: navy; 
}

table th {
    background-color: rgba(224, 205, 157, 0.892); 
    font-weight: bold; 
}

table td {
    background-color: white; 
}

footer {
    background-color:  rgba(224, 205, 157, 0.892);  
    text-align: center; 
    padding: 10px; 
    color: navy; 
    margin-top: 20px;
}

footer a {
    color: navy; 
    text-decoration: none; 
    margin: 0 10px; 
    font-weight: bold; 
    font-size: 20px;
}
